<div class="content page1">
	<div class="flex space-between">
		<div class="address flex">
            <div class="blue-circle">
                <i class="fas fa-map-marker-alt white-color icon"></i>
            </div>
            <div class="vertical-center">
                <div><%= data.address %></div>
                <div><%= data.cityAndCountry %></div>
            </div>
		</div>
		<div class="phone-number flex">
            <div class="blue-circle">
                <i class="fas fa-phone-alt white-color icon"></i>
            </div>
            <div class="vertical-center">
                <div><%= data.phone %></div>
            </div>
        </div>
		<div class="mail flex">
            <div class="blue-circle">
                <i class="fas fa-envelope white-color icon"></i>
            </div>
            <div class="vertical-center">
                <div><%= data.mail %></div>
            </div>
		</div>
	</div>
</div>

