<style>
	.header-presentation {
		background: #33cccc;
		border-radius: 5px;
		margin: 10px;
	}

	.job {
		padding: 10px 0;
	}

	.summary {
		font-weight: bold;
		font-style: italic;
	}
</style>

<div class="header-presentation white-color content page1">
	<div class="main-title bold">
		<%= data.name %>
	</div>
	<div class="job title bold">
		<%= data.job %>
	</div>
	<div class="summary subtitle">
		<div><%= data.summary1 %></div>
		<div><%= data.summary2 %></div>
	</div>
</div>